<div id="<%= dom_id family_member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Profile:</strong>
    <%= family_member.profile_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Relationship:</strong>
    <%= family_member.relationship %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= family_member.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= family_member.last_name %>
  </p>

</div>
