<div id="<%= dom_id profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= profile.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dob:</strong>
    <%= profile.dob %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City of birth:</strong>
    <%= profile.city_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country of birth:</strong>
    <%= profile.country_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mother name:</strong>
    <%= profile.mother_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Father name:</strong>
    <%= profile.father_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last known city:</strong>
    <%= profile.last_known_city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last known neighborhood:</strong>
    <%= profile.last_known_neighborhood %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= profile.status %>
  </p>

</div>
