<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Profile:</strong>
    <%= address.profile_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address line:</strong>
    <%= address.address_line %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date from:</strong>
    <%= address.date_from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date to:</strong>
    <%= address.date_to %>
  </p>

</div>
