<div id="<%= dom_id education %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Profile:</strong>
    <%= education.profile_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">School name:</strong>
    <%= education.school_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= education.level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date from:</strong>
    <%= education.date_from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date to:</strong>
    <%= education.date_to %>
  </p>

</div>
